USE [EmakroDb]
GO
/****** Object:  Table [dbo].[tbl_UlkeParaBirim]    Script Date: 24.03.2019 17:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UlkeParaBirim](
	[no] [int] IDENTITY(1,1) NOT NULL,
	[bayrak] [image] NULL,
	[ulke] [nvarchar](150) NULL,
	[country] [nvarchar](150) NULL,
	[parabirim] [nvarchar](10) NULL,
	[currency] [nvarchar](150) NULL,
	[sira] [int] NULL,
	[simge] [nchar](10) NULL,
 CONSTRAINT [PK_tbl_UlkeParaBirim] PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_UlkeParaBirim] ON 

SET IDENTITY_INSERT [dbo].[tbl_UlkeParaBirim] OFF
